header{
    color: white;
    background-color: black;
    background-size: cover;
    padding: 5px;
}
#title{
    display: flex;
    justify-content: center;
    padding: 25px;
}
ul{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
a{
    color: white;
}
.flex_div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#f_div{
    color: white;
    background-image: url("../Imatges/bosquebro.jpg");
    background-size: cover;
    margin-right: 0px;
    margin-left: 0px;
    padding: 100px;
}
.color{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
            "imat imat"
            "titol1 titol1"
            "subt1 subt2"
            "text1 text2";
    border: solid;
    margin-top: 15px;
}
.titol{
    color: black;
}
.subt{
    font-style: oblique;
}
#extra_color{
    margin-bottom: 15px;
}
#l_div{
    color: white;
    background-image: url("../Imatges/holatontito.jpg");
    background-size: cover;
}
#r_div{
    color: white;
    background-image: url("../Imatges/carbonolsd.jpg");
    background-size: cover;
}
body{
    margin: inherit;
}
.nomargin{
    margin: inherit;
}
h2{
    color: white;
    margin: inherit;
}
li{
    color: white;
    list-style: none;
}
body{
    background-color: grey;
}
ol{
    margin: inherit;
}
.imat{
    grid-area: imat;
}
.titol1{
    grid-area: titol1;
}
.subt1{
    grid-area: subt1;
}
.subt2{
    grid-area: subt2;
}
.text1{
    grid-area: text1;
}
.text2{
    grid-area: text2;
}
#marginfor{
    margin-right: 20px;
    margin-bottom: 50px;
}
#marginfor1{
    margin-right: 20px;
    margin-bottom: 50px;
}
#marginfor2{
    margin-right: 20px;
    margin-bottom: 50px;
}
@media only screen and (max-width: 1000px) {
    .flex_div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .align_all1{
        text-align: center;
        align-content: center;
        justify-content: center;
    }
}